.AccountsTable {
  margin-left:20px;
  
  width: calc(100% - 40px); /* Set the width of the sidebar */  	
}

.right {
  text-align: right;
}

.InspectButton {	
    width:100%; 

    padding: 2px;
    text-align: center;
    
    display: inline-block;
  	font-size: 16px;
}

div.rt-tr {
  align-items: center;
}

.ReactTable {
  height:50%;
}
