.LiquidateButton {
	width:200px; 

	margin-left: calc(100% - 220px);

    padding: 10px;
    
  	font-size: 16px;
}

.LiquidateRadioInput {
	width: 20px;
	left:calc(50% - 10px);
	position:relative;

}