.AddressInspector {
	width:calc(100% - 40px);
	margin-left: 20px;
}

.ButtonDiv {
	width:100%;

	/*margin-left: 20px;*/

	display: inline-block;
}

.BackButton {
	width:200px;

	padding: 10px;

	/*margin-left:20px; */
    
  	font-size: 16px;
}

.LiquidateButton {
	width:200px; 

	/*margin-left: calc(100% - 220px);*/
	float:right;

    padding: 10px;
    
  	font-size: 16px;
}