.AddressInspector {	
	margin-left: 20px;
	width:calc(100% - 40px);
}

.ButtonDiv {
	width:100%;

	display: inline-block;
}

.BackButton {
	width:200px;

	padding: 10px;
    
  	font-size: 16px;
}

.RefreshButton {
	width:100px;	

	padding: 5px;

	float:right;
    
  	font-size: 14px;
}

.LiquidateButton {
	width:200px; 

	float:right;

    padding: 10px;
    
  	font-size: 16px;
}

.LiquidationDetails {
	text-align: right;
}

.TransactionSubmissionDetails {
	text-align: right;	
}