body {
  margin: 0;
  padding: 0;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

th {
	text-align: left;
}

th, td {
  vertical-align: middle;  

  padding: 10px;
  border: 1px solid #252526;
  
}

table {
	border-collapse: collapse;
  
	width:calc(100% - 20px);	
}