.AddressInspector {	
	margin-left: 20px;
	width:calc(100% - 40px);
}

.CopyButton {
	padding-top:2px;
    width: 10px;
}

.ButtonDiv {
	width:100%;

	display: inline-block;
}

.BackButton {
	width:200px;

	padding: 10px;
    
  	font-size: 16px;
}

.TransactionPendingDiv img {
    width: 14px;
    height: auto;
}

.EnableButton {	
}

.RefreshButton {
	width:100px;	

	padding: 5px;

	float:right;
    
  	font-size: 14px;
}

.LiquidateButton {
	width:200px; 

	float:right;

    padding: 10px;
    
  	font-size: 14px;
}

.LiquidationDetails {
	text-align: right;
}

.TransactionSubmissionDetails {
	text-align: right;	
}


.slider {
  width: 25%;
  padding-top: 10px;
  padding-bottom:10px;
  float:right;
  margin-right:20px;
}